- var doc = company.doctors.pam

h2.text-center.mb-16.text-4xl.font-bold.leading-tight Our Doctor

.flex.flex-wrap.items-center.justify-center.max-w-md.mx-auto
  .mb-4(class="md:w-1/3 md:p-4")
    img.max-w-full.rounded-lg.mx-auto.border(
      src="/img/pamela-stover.jpg"
      alt="Pamela Barone Stover, DPM"
    )
  .mb-4.text-center(class="md:w-2/3 md:text-left md:p-4 md:pt-0")
    p.text-xl.font-bold.my-4
      | #{ doc.name }, #{ doc.title }
    p.my-4.text-grey-darkest.leading-normal= doc.bio

.my-8

    //- .my-4
    //-   p.leading-normal Specialization
    //-     br
    //-     | Diabetic Wound Care and Limb Salvage
    //-     br
    //-     | Forefoot and Rearfoot Surgery

    //- .my-4
    //-   p.leading-normal
    //-     span.font-bold Undergraduate
    //-     br
    //-     | B.A. Journalism and Mass Communication
    //-     br
    //-     | University of Chapel Hill, NC, 1999-2003

    //- p.my-4.font-bold Medical
    //- p.my-4.leading-normal
    //-   | Barry University, Miami Shores, FL, 2003-2007

    //- p.my-4.font-bold Residency
    //- p.my-4.leading-normal
    //-   | Veterans Affairs Medical Center, Dayton, OH, 2007-2010
